logs/
out/
target/
tmp/
*.idea/
*/.idea/
*/.idea/*
.settings/
*/.settings/
*/.settings/*
.classpath/
*/.classpath/
*/.classpath/*
.project/
*/.project/
*/.project/*
*.iml
*/*.iml
mvnrepo/
.metadata/
**.project
**.classpath
build/



